<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
  <nav>
    <%- nav %>
  </nav>
</header>
<main>
   <ul>
  <% if (locals.loggedin) { %>
      <li><a href="/account/management">Welcome <%= locals.accountData.firstname %></a></li>
      <li><a href="/account/logout">Logout</a></li>
  <% } else { %>
      <li><a href="/account/login">My Account</a></li>
  <% } %>
</ul>
</main>
</body>
</html>
